In [1]:
import pandas as pd

import sqlite3
from eralchemy import render_er

import os

PATH = "C:\\Users\\User\\Desktop\\repos\\QPoland-Hackathon-24\\data\\"

In [2]:
# connection to the database
con = sqlite3.connect(PATH + "smplr_inst.db")

In [3]:
# dumb the tables into .db
Simpler_instance = PATH + "Simpler_instance\\"

# obligatory
obligatory = [
    "aircraft.csv",
    "aircraft_unavailabilities.csv",
    "airport_closures.csv",
    "crew.csv",
    "crew_pairings.csv",
    "crew_rostering.csv",
    "crew_unavailabilities.csv",
    "flights.csv",
    "flight_disruptions.csv",
    "maintenance.csv",
    "routes.csv",
]

for table in os.listdir(Simpler_instance):

    if table not in obligatory:
        continue

    try:
        pd.read_csv(Simpler_instance + table).to_sql(
            name=table.replace(".csv", ""), con=con
        )
    except:
        continue

con.commit()

In [4]:
# list all the tables available
cur = con.cursor()
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
cur.fetchall()

[('crew_pairings',),
 ('crew',),
 ('aircraft',),
 ('aircraft_unavailabilities',),
 ('airport_closures',),
 ('routes',),
 ('maintenance',),
 ('flight_disruptions',),
 ('flights',),
 ('crew_unavailabilities',),
 ('crew_rostering',)]

In [5]:
# read as a dataframe
pd.read_sql_query("SELECT * FROM aircraft", con)

   index registration model  family position  owned
0      0       A321#4  A321  Airbus      CDG      1
1      1      A320#10  A320  Airbus      TLS      1

In [6]:
# Draw diagram of the database
# (keys added manualy)
render_er("sqlite:///" + PATH + "smplr_inst.db", "erd_from_sqlite.png")