In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
PATH = os.getcwd().replace("code", "")
Simpler_instance = PATH + "data\\Simpler_instance\\"

os.listdir(Simpler_instance)

['aircraft.csv',
 'aircraft_restrictions.csv',
 'aircraft_unavailabilities.csv',
 'airports.csv',
 'airport_closures.csv',
 'cabin_capacities.csv',
 'crew.csv',
 'crew_groups.csv',
 'crew_pairings.csv',
 'crew_rostering.csv',
 'crew_unavailabilities.csv',
 'flights.csv',
 'flight_disruptions.csv',
 'itineraries.csv',
 'maintenance.csv',
 'meal_costs.csv',
 'min_cabin_crew.csv',
 'min_con_pax.csv',
 'min_ground_time.csv',
 'min_pilots.csv',
 'routes.csv',
 'slots.csv',
 'slot_changes.csv',
 'visa_matrix.csv']

In [3]:
# obligatory
obligatory = [
    "aircraft.csv",
    # "aircraft_restrictions.csv",
    "aircraft_unavailabilities.csv",
    # "airports.csv",
    "airport_closures.csv",
    # "cabin_capacities.csv",
    "crew.csv",
    # "crew_groups.csv",
    "crew_pairings.csv",
    "crew_rostering.csv",
    "crew_unavailabilities.csv",
    "flights.csv",
    "flight_disruptions.csv",
    # "itineraries.csv",
    "maintenance.csv",
    # "meal_costs.csv",
    # "min_cabin_crew.csv",
    # "min_con_pax.csv",
    # "min_ground_time.csv",
    # "min_pilots.csv",
    "routes.csv",
    # "slots.csv",
    # "slot_changes.csv",
    # "visa_matrix.csv",
]

In [4]:
for file in obligatory:
    print(
        "File: {}\n{}\n{}".format(
            file,
            pd.read_csv(Simpler_instance + file),
            "-" * 50,
        )
    )

File: aircraft.csv
  registration model  family position  owned
0       A321#4  A321  Airbus      CDG      1
1      A320#10  A320  Airbus      TLS      1
--------------------------------------------------
File: aircraft_unavailabilities.csv
  registration             start            finish
0      A320#10  2006-01-07T18:20  2006-01-07T18:30
--------------------------------------------------
File: airport_closures.csv
  code             start            finish
0  TLS  2006-01-07T18:20  2006-01-07T18:25
--------------------------------------------------
File: crew.csv
          id position rank base acclimatization  duty_time  rest_time  \
0   JMOHXOTO      CDG   CP  CDG             CDG          0       1200
1   KSSTFGJL      CDG   FO  CDG             CDG          0       1200
2   GUCNZGXL      CDG   CS  CDG             CDG          0       1200
3   IDKJZBQD      CDG   CS  CDG             CDG          0       1200
4   BQSEGYAI      CDG   ST  CDG             CDG          0       1200
5   LZJJTZFS      CDG   ST  CDG             CDG          0       1200
6   MIZIHWMB      CDG   ST  CDG             CDG          0       1200
7   OHBLBOOR      CDG   ST  CDG             CDG          0       1200
8   OPYSPEZE      CDG   ST  CDG             CDG          0       1200
9   DCAEBQUN      CDG   ST  CDG             CDG          0       1200
10  NJSLAVDB      TLS   CP  TLS             TLS          0       1200
11  NFZVWWKO      TLS   FO  TLS             TLS          0       1200
12  YAYOVRWD      TLS   CS  TLS             TLS          0       1200
13  IEFOIPNV      TLS   CS  TLS             TLS          0       1200
14  WBDXZDYF      TLS   ST  TLS             TLS          0       1200
15  ZOHNALXF      TLS   ST  TLS             TLS          0       1200
16  MNLCDBLP      TLS   ST  TLS             TLS          0       1200
17  DQJPRQKO      TLS   ST  TLS             TLS          0       1200
18  FDQFJDWL      TLS   ST  TLS             TLS          0       1200
19  YXIBFVBO      TLS   ST  TLS             TLS          0       1200
20  EPAWWTGL      TLS   CP  CDG             TLS          0       1200
21  BBBZWBMM      TLS   FO  CDG             TLS          0       1200
22  ZVEMELVI      TLS   CS  CDG             TLS          0       1200
23  OBHUISZO      TLS   CS  CDG             TLS          0       1200
24  GEQXTCFS      TLS   ST  CDG             TLS          0       1200
25  ZNTOIHTY      TLS   ST  CDG             TLS          0       1200
26  NZMLRXJR      TLS   ST  CDG             TLS          0       1200
27  VTRKKXCP      TLS   ST  CDG             TLS          0       1200
28  DNMNUNZX      TLS   ST  CDG             TLS          0       1200
29  OAEOKSMK      TLS   ST  CDG             TLS          0       1200
30  EZKMQNGV      CDG   CP  ORY             CDG          0       1200
31  REHPUHUP      CDG   FO  ORY             CDG          0       1200
32  DTWSJNEK      CDG   CS  ORY             CDG          0       1200
33  JGKUBGQT      CDG   CS  ORY             CDG          0       1200
34  HGULTXJV      CDG   ST  ORY             CDG          0       1200
35  MOHAQJAD      CDG   ST  ORY             CDG          0       1200
36  WEENCESU      CDG   ST  ORY             CDG          0       1200
37  UIOOEKFA      CDG   ST  ORY             CDG          0       1200
38  DUILDYLF      CDG   ST  ORY             CDG          0       1200
39  JYUKYHJG      CDG   ST  ORY             CDG          0       1200
40  KTXKZPWF      TLS   CP  ORY             TLS          0       1200
41  ASLPWMJK      TLS   FO  ORY             TLS          0       1200
42  XKSWILAF      TLS   CS  ORY             TLS          0       1200
43  HKFIZFRU      TLS   CS  ORY             TLS          0       1200
44  WICIBZNB      TLS   ST  ORY             TLS          0       1200
45  LLRBFSLB      TLS   ST  ORY             TLS          0       1200
46  KBQAIOSA      TLS   ST  ORY             TLS          0       1200
47  GCUPEPFN      TLS   ST  ORY             TLS          0       1200
48  XWVAJVIV      TLS   ST  ORY             TLS          0       1200
49  LYZGHWUT      TLS   ST  ORY             TLS          0       1200

    tacc_week  tacc_month  tacc_year  cpm_deadhead  cpm_reserve   specs
0           0           0          0            25           51  Airbus
1           0           0          0            28           57  Airbus
2           0           0          0            26           43  Airbus
3           0           0          0            20           50  Airbus
4           0           0          0            21           59  Airbus
5           0           0          0            29           52  Airbus
6           0           0          0            27           42  Airbus
7           0           0          0            29           52  Airbus
8           0           0          0            28           41  Airbus
9           0           0          0            25           59  Airbus
10          0           0          0            20           45  Airbus
11          0           0          0            22           41  Airbus
12          0           0          0            27           47  Airbus
13          0           0          0            25           45  Airbus
14          0           0          0            27           40  Airbus
15          0           0          0            21           41  Airbus
16          0           0          0            24           55  Airbus
17          0           0          0            23           45  Airbus
18          0           0          0            27           40  Airbus
19          0           0          0            24           52  Airbus
20          0           0          0            24           58  Airbus
21          0           0          0            26           58  Airbus
22          0           0          0            26           49  Airbus
23          0           0          0            23           52  Airbus
24          0           0          0            22           49  Airbus
25          0           0          0            20           56  Airbus
26          0           0          0            23           55  Airbus
27          0           0          0            24           41  Airbus
28          0           0          0            27           50  Airbus
29          0           0          0            25           50  Airbus
30          0           0          0            21           43  Airbus
31          0           0          0            20           44  Airbus
32          0           0          0            22           59  Airbus
33          0           0          0            21           42  Airbus
34          0           0          0            28           51  Airbus
35          0           0          0            20           57  Airbus
36          0           0          0            27           44  Airbus
37          0           0          0            27           43  Airbus
38          0           0          0            29           50  Airbus
39          0           0          0            21           58  Airbus
40          0           0          0            20           44  Airbus
41          0           0          0            24           43  Airbus
42          0           0          0            20           48  Airbus
43          0           0          0            25           42  Airbus
44          0           0          0            26           42  Airbus
45          0           0          0            22           47  Airbus
46          0           0          0            27           46  Airbus
47          0           0          0            24           51  Airbus
48          0           0          0            24           57  Airbus
49          0           0          0            29           44  Airbus
--------------------------------------------------
File: crew_pairings.csv
   pairing_id     1st_flight_start   last_flight_finish  nr_flights  family  \
0   623057530  07.01.2006 06:20:00  07.01.2006 15:30:00           4  Airbus
1   376980210  07.01.2006 06:40:00  07.01.2006 14:00:00           4  Airbus
2  1878748607  07.01.2006 14:40:00  07.01.2006 18:00:00           3  Airbus
3  1587173014  07.01.2006 17:25:00  07.01.2006 21:15:00           2  Airbus
4  1827753950  07.01.2006 18:40:00  07.01.2006 20:00:00           1  Airbus

                  legs first_leg_aircraft last_leg_aircraft airport_start  \
0  4563,4564,4567,4568             A321#4            A321#4           CDG
1  2970,2975,2982,2985            A320#10           A320#10           TLS
2            2992,2999            A320#10           A320#10           TLS
3            4571,4572             A321#4            A321#4           CDG
4                 3008            A320#10           A320#10           TLS

  airport_finish
0            CDG
1            TLS
2            TLS
3            ORY
4            ORY
--------------------------------------------------
File: crew_rostering.csv
      crew_id    leg_id rank             start            finish airport  \
0    JMOHXOTO  70004563   CP  2006-01-07T05:20  2006-01-07T07:55     CDG
1    JMOHXOTO  70004564   CP  2006-01-07T09:05  2006-01-07T10:40     NCE
2    JMOHXOTO  70004567   CP  2006-01-07T11:35  2006-01-07T13:10     CDG
3    JMOHXOTO  70004568   CP  2006-01-07T13:55  2006-01-07T16:15     NCE
4    KSSTFGJL  70004563   FO  2006-01-07T05:20  2006-01-07T07:55     CDG
..        ...       ...  ...               ...               ...     ...
125  LLRBFSLB  70003008   ST  2006-01-07T17:40  2006-01-07T20:45     TLS
126  KBQAIOSA  70003008   ST  2006-01-07T17:40  2006-01-07T20:45     TLS
127  GCUPEPFN  70003008   ST  2006-01-07T17:40  2006-01-07T20:45     TLS
128  XWVAJVIV  70003008   ST  2006-01-07T17:40  2006-01-07T20:45     TLS
129  LYZGHWUT  70003008   ST  2006-01-07T17:40  2006-01-07T20:45     TLS

        pairing
0     623057530
1     623057530
2     623057530
3     623057530
4     623057530
..          ...
125  1827753950
126  1827753950
127  1827753950
128  1827753950
129  1827753950

[130 rows x 7 columns]
--------------------------------------------------
File: crew_unavailabilities.csv
    crew_id             start            finish
0  OHBLBOOR  2006-01-07T00:00  2006-01-07T23:00
--------------------------------------------------
File: flights.csv
      leg_id  flight_id        date aircraft from   to             start  \
0   70002970       2970  2006-01-07  A320#10  TLS  ORY  2006-01-07T06:40
1   70002975       2975  2006-01-07  A320#10  ORY  TLS  2006-01-07T08:50
2   70002982       2982  2006-01-07  A320#10  TLS  ORY  2006-01-07T10:40
3   70002985       2985  2006-01-07  A320#10  ORY  TLS  2006-01-07T12:50
4   70002992       2992  2006-01-07  A320#10  TLS  ORY  2006-01-07T14:40
5   70002999       2999  2006-01-07  A320#10  ORY  TLS  2006-01-07T16:50
6   70003008       3008  2006-01-07  A320#10  TLS  ORY  2006-01-07T18:40
7   70004563       4563  2006-01-07   A321#4  CDG  NCE  2006-01-07T06:20
8   70004564       4564  2006-01-07   A321#4  NCE  CDG  2006-01-07T09:05
9   70004567       4567  2006-01-07   A321#4  CDG  NCE  2006-01-07T11:35
10  70004568       4568  2006-01-07   A321#4  NCE  CDG  2006-01-07T13:55
11  70004571       4571  2006-01-07   A321#4  CDG  NCE  2006-01-07T17:25
12  70004572       4572  2006-01-07   A321#4  NCE  ORY  2006-01-07T19:50

              finish  crew_group_id
0   2006-01-07T08:00      376980210
1   2006-01-07T10:00      376980210
2   2006-01-07T12:00      376980210
3   2006-01-07T14:00      376980210
4   2006-01-07T16:00     1878748607
5   2006-01-07T18:00     1878748607
6   2006-01-07T20:00     1827753950
7   2006-01-07T07:55      623057530
8   2006-01-07T10:40      623057530
9   2006-01-07T13:10      623057530
10  2006-01-07T15:30      623057530
11  2006-01-07T19:00     1587173014
12  2006-01-07T21:15     1587173014
--------------------------------------------------
File: flight_disruptions.csv
     leg_id  delta
0  70002970     39
1  70002975     39
2  70002982     48
--------------------------------------------------
File: maintenance.csv
  aircraft         min_start        max_finish  duration airports
0  A320#10  2006-01-07T20:00  2006-01-08T07:00       300  TLS,ORY
--------------------------------------------------
File: routes.csv
   from   to type  distance
0   CDG  NCE    D        95
1   CDG  ORY    D        35
2   CDG  TLS    D        85
3   NCE  CDG    D        95
4   NCE  ORY    D        85
5   NCE  TLS    D        85
6   ORY  CDG    D        35
7   ORY  NCE    D        85
8   ORY  TLS    D        80
9   TLS  CDG    D        90
10  TLS  NCE    D        80
11  TLS  ORY    D        80
--------------------------------------------------

In [5]:
obligatory

['aircraft.csv',
 'aircraft_unavailabilities.csv',
 'airport_closures.csv',
 'crew.csv',
 'crew_pairings.csv',
 'crew_rostering.csv',
 'crew_unavailabilities.csv',
 'flights.csv',
 'flight_disruptions.csv',
 'maintenance.csv',
 'routes.csv']

In [6]:
flights = pd.read_csv(Simpler_instance + "flights.csv")
flight_disruptions = pd.read_csv(Simpler_instance + "flight_disruptions.csv")
aircraft = pd.read_csv(Simpler_instance + "aircraft.csv")
aircraft_unavailabilities = pd.read_csv(
    Simpler_instance + "aircraft_unavailabilities.csv"
)
airport_closures = pd.read_csv(Simpler_instance + "airport_closures.csv")
maintenance = pd.read_csv(Simpler_instance + "maintenance.csv")
routes = pd.read_csv(Simpler_instance + "routes.csv")

In [23]:
departures_board = pd.merge(
    pd.merge(
        pd.merge(
            pd.merge(
                pd.merge(flights, routes, how="left"),
                flight_disruptions,
                how="left",
            ).fillna(0),
            maintenance,
            how="left",
        ).assign(
            maintenance_unavailabilitie=lambda x: (
                (x.min_start >= x.start) & (x.min_start <= x.finish)
            )
            | ((x.max_finish >= x.start) & (x.max_finish <= x.finish))
        ),
        aircraft_unavailabilities.rename(
            columns={"start": "start_unv", "finish": "finish_unv"}
        ),
        left_on="aircraft",
        right_on="registration",
        how="left",
    ).assign(
        aircraft_unavailabilities=lambda x: (
            (x.start_unv >= x.start) & (x.start_unv <= x.finish)
        )
        | ((x.finish_unv >= x.start) & (x.finish_unv <= x.finish))
    ),
    airport_closures.rename(columns={"start": "start_cls", "finish": "finish_cls"}),
    left_on="from",
    right_on="code",
    how="left",
).assign(
    airport_closures=lambda x: ((x.start_cls >= x.start) & (x.start_cls <= x.finish))
    | ((x.finish_cls >= x.start) & (x.finish_cls <= x.finish))
)

cols = departures_board.loc[
    :,
    (
        departures_board.columns.str.contains("start")
        | departures_board.columns.str.contains("finish")
    ),
].columns
departures_board[cols] = departures_board[cols].apply(pd.to_datetime, errors="coerce")

departures_board

,leg_id,flight_id,date,aircraft,from,to,start,finish,crew_group_id,type,...,airports,maintenance_unavailabilitie,registration,start_unv,finish_unv,aircraft_unavailabilities,code,start_cls,finish_cls,airport_closures
0,70002970,2970,2006-01-07,A320#10,TLS,ORY,2006-01-07 06:40:00,2006-01-07 08:00:00,376980210,D,...,"TLS,ORY",False,A320#10,2006-01-07 18:20:00,2006-01-07 18:30:00,False,TLS,2006-01-07 18:20:00,2006-01-07 18:25:00,False
1,70002975,2975,2006-01-07,A320#10,ORY,TLS,2006-01-07 08:50:00,2006-01-07 10:00:00,376980210,D,...,"TLS,ORY",False,A320#10,2006-01-07 18:20:00,2006-01-07 18:30:00,False,NaN,NaT,NaT,False
2,70002982,2982,2006-01-07,A320#10,TLS,ORY,2006-01-07 10:40:00,2006-01-07 12:00:00,376980210,D,...,"TLS,ORY",False,A320#10,2006-01-07 18:20:00,2006-01-07 18:30:00,False,TLS,2006-01-07 18:20:00,2006-01-07 18:25:00,False
3,70002985,2985,2006-01-07,A320#10,ORY,TLS,2006-01-07 12:50:00,2006-01-07 14:00:00,376980210,D,...,"TLS,ORY",False,A320#10,2006-01-07 18:20:00,2006-01-07 18:30:00,False,NaN,NaT,NaT,False
4,70002992,2992,2006-01-07,A320#10,TLS,ORY,2006-01-07 14:40:00,2006-01-07 16:00:00,1878748607,D,...,"TLS,ORY",False,A320#10,2006-01-07 18:20:00,2006-01-07 18:30:00,False,TLS,2006-01-07 18:20:00,2006-01-07 18:25:00,False
5,70002999,2999,2006-01-07,A320#10,ORY,TLS,2006-01-07 16:50:00,2006-01-07 18:00:00,1878748607,D,...,"TLS,ORY",False,A320#10,2006-01-07 18:20:00,2006-01-07 18:30:00,False,NaN,NaT,NaT,False
6,70003008,3008,2006-01-07,A320#10,TLS,ORY,2006-01-07 18:40:00,2006-01-07 20:00:00,1827753950,D,...,"TLS,ORY",True,A320#10,2006-01-07 18:20:00,2006-01-07 18:30:00,False,TLS,2006-01-07 18:20:00,2006-01-07 18:25:00,False
7,70004563,4563,2006-01-07,A321#4,CDG,NCE,2006-01-07 06:20:00,2006-01-07 07:55:00,623057530,D,...,NaN,False,NaN,NaT,NaT,False,NaN,NaT,NaT,False
8,70004564,4564,2006-01-07,A321#4,NCE,CDG,2006-01-07 09:05:00,2006-01-07 10:40:00,623057530,D,...,NaN,False,NaN,NaT,NaT,False,NaN,NaT,NaT,False
9,70004567,4567,2006-01-07,A321#4,CDG,NCE,2006-01-07 11:35:00,2006-01-07 13:10:00,623057530,D,...,NaN,False,NaN,NaT,NaT,False,NaN,NaT,NaT,False
10,70004568,4568,2006-01-07,A321#4,NCE,CDG,2006-01-07 13:55:00,2006-01-07 15:30:00,623057530,D,...,NaN,False,NaN,NaT,NaT,False,NaN,NaT,NaT,False
11,70004571,4571,2006-01-07,A321#4,CDG,NCE,2006-01-07 17:25:00,2006-01-07 19:00:00,1587173014,D,...,NaN,False,NaN,NaT,NaT,False,NaN,NaT,NaT,False
12,70004572,4572,2006-01-07,A321#4,NCE,ORY,2006-01-07 19:50:00,2006-01-07 21:15:00,1587173014,D,...,NaN,False,NaN,NaT,NaT,False,NaN,NaT,NaT,False

In [85]:
# def loss_function(df: pd.DataFrame) -> float:
#     delta = df.delta
#     if df.maintenance_unavailabilitie:
#         temp = df.duration
#     return temp
def loss_function(
    delta: float,
    maintenance_unavailabilitie: bool,
    duration: float,
    aircraft_unavailabilities: bool,
    start_unv,
    finish_unv,
    airport_closures: bool,
    start_cls,
    finish_cls,
) -> float:
    val = delta
    if maintenance_unavailabilitie:
        val += duration
    if aircraft_unavailabilities:
        val += (finish_unv - start_unv).total_seconds() / 60.0
    if airport_closures:
        val += (finish_cls - start_cls).total_seconds() / 60.0

    return val

In [93]:
# departures_board.apply(lambda x: loss_function(x))

# https://stackoverflow.com/questions/47372274/apply-custom-function-over-multiple-columns-in-pandas
loss_function_vectorized = np.vectorize(loss_function)
departures_board["loss"] = loss_function_vectorized(
    delta=departures_board.delta,
    maintenance_unavailabilitie=departures_board.maintenance_unavailabilitie,
    duration=departures_board.duration,
    aircraft_unavailabilities=departures_board.aircraft_unavailabilities,
    start_unv=departures_board.start_unv,
    finish_unv=departures_board.finish_unv,
    airport_closures=departures_board.airport_closures,
    start_cls=departures_board.start_cls,
    finish_cls=departures_board.finish_cls,
)

print(sum(departures_board.loss))

departures_board

426.0

,leg_id,flight_id,date,aircraft,from,to,start,finish,crew_group_id,type,...,maintenance_unavailabilitie,registration,start_unv,finish_unv,aircraft_unavailabilities,code,start_cls,finish_cls,airport_closures,loss
0,70002970,2970,2006-01-07,A320#10,TLS,ORY,2006-01-07 06:40:00,2006-01-07 08:00:00,376980210,D,...,False,A320#10,2006-01-07 18:20:00,2006-01-07 18:30:00,False,TLS,2006-01-07 18:20:00,2006-01-07 18:25:00,False,39.0
1,70002975,2975,2006-01-07,A320#10,ORY,TLS,2006-01-07 08:50:00,2006-01-07 10:00:00,376980210,D,...,False,A320#10,2006-01-07 18:20:00,2006-01-07 18:30:00,False,NaN,NaT,NaT,False,39.0
2,70002982,2982,2006-01-07,A320#10,TLS,ORY,2006-01-07 10:40:00,2006-01-07 12:00:00,376980210,D,...,False,A320#10,2006-01-07 18:20:00,2006-01-07 18:30:00,False,TLS,2006-01-07 18:20:00,2006-01-07 18:25:00,False,48.0
3,70002985,2985,2006-01-07,A320#10,ORY,TLS,2006-01-07 12:50:00,2006-01-07 14:00:00,376980210,D,...,False,A320#10,2006-01-07 18:20:00,2006-01-07 18:30:00,False,NaN,NaT,NaT,False,0.0
4,70002992,2992,2006-01-07,A320#10,TLS,ORY,2006-01-07 14:40:00,2006-01-07 16:00:00,1878748607,D,...,False,A320#10,2006-01-07 18:20:00,2006-01-07 18:30:00,False,TLS,2006-01-07 18:20:00,2006-01-07 18:25:00,False,0.0
5,70002999,2999,2006-01-07,A320#10,ORY,TLS,2006-01-07 16:50:00,2006-01-07 18:00:00,1878748607,D,...,False,A320#10,2006-01-07 18:20:00,2006-01-07 18:30:00,False,NaN,NaT,NaT,False,0.0
6,70003008,3008,2006-01-07,A320#10,TLS,ORY,2006-01-07 18:40:00,2006-01-07 20:00:00,1827753950,D,...,True,A320#10,2006-01-07 18:20:00,2006-01-07 18:30:00,False,TLS,2006-01-07 18:20:00,2006-01-07 18:25:00,False,300.0
7,70004563,4563,2006-01-07,A321#4,CDG,NCE,2006-01-07 06:20:00,2006-01-07 07:55:00,623057530,D,...,False,NaN,NaT,NaT,False,NaN,NaT,NaT,False,0.0
8,70004564,4564,2006-01-07,A321#4,NCE,CDG,2006-01-07 09:05:00,2006-01-07 10:40:00,623057530,D,...,False,NaN,NaT,NaT,False,NaN,NaT,NaT,False,0.0
9,70004567,4567,2006-01-07,A321#4,CDG,NCE,2006-01-07 11:35:00,2006-01-07 13:10:00,623057530,D,...,False,NaN,NaT,NaT,False,NaN,NaT,NaT,False,0.0
10,70004568,4568,2006-01-07,A321#4,NCE,CDG,2006-01-07 13:55:00,2006-01-07 15:30:00,623057530,D,...,False,NaN,NaT,NaT,False,NaN,NaT,NaT,False,0.0
11,70004571,4571,2006-01-07,A321#4,CDG,NCE,2006-01-07 17:25:00,2006-01-07 19:00:00,1587173014,D,...,False,NaN,NaT,NaT,False,NaN,NaT,NaT,False,0.0
12,70004572,4572,2006-01-07,A321#4,NCE,ORY,2006-01-07 19:50:00,2006-01-07 21:15:00,1587173014,D,...,False,NaN,NaT,NaT,False,NaN,NaT,NaT,False,0.0